<?php
return [
    'backend' => [
        'frontName' => 'admin'
    ],
    'db' => [
        'connection' => [
            'default' => [
                'host' => 'db',
                'dbname' => 'magento',
                'username' => 'magento',
                'password' => 'magento',
                'model' => 'mysql4',
                'engine' => 'innodb',
                'initStatements' => 'SET NAMES utf8mb4',
                'active' => '1'
            ]
        ]
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'backend' => 'Magento\Framework\Cache\Backend\Redis',
                'backend_options' => [
                    'server' => 'redis',
                    'port' => 6379,
                    'database' => 0,
                    'password' => '',
                    'compress_data' => '1',
                    'compression_lib' => 'gzip'
                ]
            ],
            'page_cache' => [
                'backend' => 'Magento\Framework\Cache\Backend\Redis',
                'backend_options' => [
                    'server' => 'redis',
                    'port' => 6379,
                    'database' => 1,
                    'password' => '',
                    'compress_data' => '1',
                    'compression_lib' => 'gzip'
                ]
            ]
        ]
    ],
    'session' => [
        'save' => 'redis',
        'redis' => [
            'host' => 'redis',
            'port' => 6379,
            'database' => 2,
            'log_level' => 'info',
            'timeout' => '2.5',
            'compression_threshold' => '2048',
            'compression_lib' => 'gzip',
            'max_concurrency' => '10'
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'MAGE_MODE' => 'developer',
    'cron' => [
        'enabled' => 1
    ],
    'queue' => [
        'consumers_wait_for_messages' => 0
    ]
];